html, body {
    font-family: 'Arial';
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    color: #213A57;
}

.content {
    display: inline-flex;
}

.sidebar {
    width: 15vw;
    height: 100vh;
    background-color: #0AD1C8;
}