{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Chat</title>
    <link type='text/css' rel="stylesheet" href="{% static 'core/css/styles.css' %}">
    <script src="{% static 'core/js/scripts.js' %}"></script>
  </head>
  <body>
    <div class='sidebar'>
      <div class='searcher'>
        <input type="text" placeholder="Search chat" name="search">
      </div>
      <div class='chats'>
        {% if channels %}
          {% for channel in channels %}
          <div class='chat'>
            {% if channel.icon %}
              <div class='icon-chat'><img src="{{channel.icon.url}}"/></div>
            {% else %}
              <div class='icon-chat'><img src="/media/icons/2024/04/09/group-chat.png"/></div>
            {% endif %}
            {{ channel.name }}
          </div>
          {% endfor %}
        {% else %}
          <div>
            Empty 
          </div>
        {% endif %}
      </div>
      <div class='login'>
        <button>
          <a href="{% url 'reg' %}" style="text-decoration:none;color:white">
            Login
          </a>
        </button>
      </div>
    </div>
    <div class='main'>
      {% block content %}
      {% endblock content %}
    </div>
  </body>
</html>